DATABASE_URL=postgresql://postgres:postgres@localhost:5432/prepcraft
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5432/prepcraft_test
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
GUEST_IP_SALT=
PIPELINE_SERVICE_URL=http://localhost:9000
PIPELINE_SERVICE_TOKEN=
